<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CommonConfiguration" type="Tenaris.Library.Common.Configuration.CommonConfiguration, Tenaris.Library.Common" />    
    <section name="FactoryConfiguration" type="Tenaris.Library.System.Factory.FactoryConfiguration, Tenaris.Library.System" />
    <section name="Configuration" type="Tenaris.Manager.WorkShift.Configuration, Tenaris.Manager.WorkShift"/>
  </configSections>

  <connectionStrings>
    <add name="Level2" connectionString="Application Name=WorkShiftManager;Data Source=172.29.108.151;Initial Catalog=Level2;User ID=developer;Password=developer;Persist Security Info=True;MultipleActiveResultSets=True;Max Pool Size=3;Connection Lifetime=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <CommonConfiguration areaCode="HRM" defaultConnectionStringName="Level2" />

  <FactoryConfiguration factoryType="Tenaris.Manager.WorkShift.Factory, Tenaris.Manager.WorkShift" isSingleton="True">
    <ManagerConfiguration connectionString="Level2" />
  </FactoryConfiguration>

  <Configuration
    address="net.tcp://localhost:5030"
    bindingSendTimeout="1"
    timerPeriod="1000"
    reloadRegimeInterval="0"
    />

  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="8030">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
          <clientProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>