<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="Tenaris.Manager.ExitApplication.ExitApplicationManager" type="Tenaris.Library.System.MultiClient.Configuration.MultipleManagerConfiguration, Tenaris.Library.System.MultiClient" />
	<section name="ClientProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="ServerProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="ManagerProxyFactory" type="Tenaris.Library.Proxy.Configuration.ProxyFactoryConfigurationSection, Tenaris.Library.Proxy" />
    <section name="ExitApplicationClientConfiguration" type="Tamsa.View.ProductionReport.Model.ExitApplicationClientConfiguration,Tamsa.View.ProductionReport.Model" />

    <section name="log" type="Tenaris.Library.Log.LogConfiguration, Tenaris.Library.Log" />
  </configSections>
  <connectionStrings>
    <!--<add name="dbLevel2" connectionString="Application Name=ExitManualJAA;Password=300Murl300;Persist Security Info=True;User ID=sa;Initial Catalog=Level2_HTR;Data Source=10.92.25.100;Failover Partner=10.92.25.101; MultipleActiveResultSets=True;" />-->
    <!--<add name="dbLevel2" connectionString="Application Name=ExitManualJAA;Password=Tesis01;Persist Security Info=True;User ID=Tesis;Initial Catalog=Level2_HTR;Data Source=10.92.25.100;MultipleActiveResultSets=True;" />-->
    <add name="dbLevel2" connectionString="Password=level2;Persist Security Info=True;User ID=Level2;Initial Catalog=Level2_HTR;Data Source=10.92.25.107;Failover Partner=10.92.25.101; MultipleActiveResultSets=True;" />
  </connectionStrings>
  <appSettings>
	<add key="ApplicationTitle" value="Exit Report Manual" />
    <add key="Culture" value="en-US" />
    <!--<add key="Culture" value="es-MX" />-->
    <add key="UrlHistoric" value="http://172.29.13.69/ExitApplicationHistoric/Default.aspx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- Configuración de Proxy Dinamico para los objetos SAO (los managers) -->
  <ManagerProxyFactory factoryType="Tenaris.Library.Proxy.Factories.PipeProxyFactory, Tenaris.Library.Proxy">
    <Configuration>
      <Components>
        <Component type="Tenaris.Library.Proxy.Components.ConnectionMonitorComponent, Tenaris.Library.Proxy">
          <Interval>5000</Interval>
        </Component>
      </Components>
      <Dispatcher type="Tenaris.Library.Proxy.Dispatchers.RemotingMessageDispatcher, Tenaris.Library.Proxy" />
      <EventListener type="Tenaris.Library.Proxy.EventListeners.ProxyEventListener, Tenaris.Library.Proxy" />
    </Configuration>
  </ManagerProxyFactory>
  <!-- Configuración de Proxy Dinamico para los objetos CAO (MarshallByRefObject devueltos como resultado de un método) -->
  <ClientProxyFactory>
    <Configuration>
    </Configuration>
  </ClientProxyFactory>
  <ServerProxyFactory>
    <Configuration>
    </Configuration>
  </ServerProxyFactory>
	<Tenaris.Manager.ExitApplication.ExitApplicationManager>
		<managers aliveInterval="2000" forumPresent="false">
			<add areaCode="FAT3" url="tcp://172.29.13.69:5200/exitapplication.soap" />
			<add areaCode="FAT2" url="tcp://172.29.13.69:5201/exitapplication.soap" />
		</managers>
	</Tenaris.Manager.ExitApplication.ExitApplicationManager>
	
  <!-- Exit Application Client Configuration -->
  <!--
    Application.Mode: <"Line", "Maneuver"> 

  -->
  <ExitApplicationClientConfiguration Application.Process="BS301ES01,BS301SE03"
                                      Application.IntervalTimer="300"
                                      Application.IsEnableChangeUser="True"
                                      Application.IsNotifyChangeUser="False"
                                      Application.IsEnableRejectionCode="True"
                                      Application.ForceGranel="False"
                                      Application.FullMode="True"
                                      StoredProcedure.GetProcessToReport="[ProductionTamsa].[spGetMachines]"
                                      StoredProcedure.GetKeysHistory="[ProductionTamsa].[spGetProductsToReport]"
                                      StoredProcedure.GetTrackingToBalance="[ProductionTamsa].[spGetAvailableTrackings2]"
                                      StoredProcedure.InsKey="[ProductionTamsa].[spInsGroup]"
                                      StoredProcedure.GetDetailKeyHistory="[ProductionTamsa].[spGetGroupsToProduct]"
                                      StoredProcedure.GetTrackings="[ProductionTamsa].[spGetTrackings]"
                                      StoredProcedure.DelGroup="[ProductionTamsa].[spDelGroup]"
                                      StoredProcedure.UpdGroup="[ProductionTamsa].[spUpdGroup]"
                                      StoredProcedure.GetLocalUser="[TrackingHTR].[GetLocalUser]"
                                      StoredProcedure.UpdLocalUser="[TrackingHTR].[UpdLocalUser]"
                                      StoredProcedure.GetShiftInformation="[TrackingHTR].[GetShiftInformation]"
                                      StoredProcedure.GetGroupElaborationState="[ExitApplication].[GetGroupElaborationState]"
                                      StoredProcedure.GetElaborationStateByGroup="[ExitApplication].[GetElaborationStateByGroup]"
                                      StoredProcedure.GetRejectionCodeByElaborationState="[ExitApplication].[GetRejectionCodeByElaborationState]"
                                      Application.DefaultGroupEECode="BUE"
                                      Application.DefaultEECode="30">
    <areas defaultArea="FAT3">
      <add areaCode="FAT3" productionMachines="Amalog,Enderezadora,Laminillo,InviNorte" defaultProductionMachine="Amalog" isActiveReworkedMachines="false" reworkedMachines="InviSur" defaultReworkedMachine="InviSur" />
      <add areaCode="FAT2" productionMachines="AUX01" defaultProductionMachine="AUX01" isActiveReworkedMachines="true" reworkedMachines="AUX01" defaultReworkedMachine="AUX01" />
    </areas>
  </ExitApplicationClientConfiguration>
  <!-- Configuración de Remoting -->
  <!-- 
        ClientRemotingInterceptorProvider es el provider que permite interceptar todos los mensajes, tanto los SAO como los CAO
        Se le debe especificar que configuración de proxy se debe utilizar. En este proxy se deberia colocar todos los interceptors
  -->
  <system.runtime.remoting>
    <application name="Client">
      <channels>
        <channel ref="tcp" port="0">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
            <provider type="Tenaris.Library.Proxy.Remoting.ServerRemotingInterceptorProvider, Tenaris.Library.Proxy" proxyFactoryName="ServerProxyFactory" />
          </serverProviders>
          <clientProviders>
            <provider type="Tenaris.Library.Proxy.Remoting.ClientRemotingInterceptorProvider, Tenaris.Library.Proxy" proxyFactoryName="ClientProxyFactory" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>
    </application>
  </system.runtime.remoting>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="RoleEndPoint" closeTimeout="00:01:00" openTimeout="00:01:00" sendTimeout="00:02:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2097152" maxBufferSize="2097152" maxConnections="10" maxReceivedMessageSize="2097152">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="524288" maxNameTableCharCount="1024" />
					<reliableSession ordered="true" inactivityTimeout="00:01:00" enabled="true" />
					<security mode="None">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://10.92.25.121:33333/ITService" binding="netTcpBinding" bindingConfiguration="RoleEndPoint" contract="ITServices.ITService" name="RoleEndPoint">
				<identity>
					<dns value="10.92.25.121" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>

  <log maxFileSize="8096" msgFormat="{Timestamp:HH:mm.ss.fff} ; {Level,-7} ; {Message} ; {MethodName}" logLevel="Debug" traceAttributeLogEnabled="false" logBaseName="Tamsa.View.ProductionReport.Browser" additionalLogDestination="Console" path="D:\Data\Logs\ExitTT31\" />
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TeeChart.WPF" publicKeyToken="1463a114303c2e80" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2012.2281" newVersion="4.1.2012.2281" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Laos" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
